$font-normal: "GandhiSansRegular";
$font-bold: "GandhiSansBold";
$text-color: #d9d9d9;
$dark-blue: #041833;
$light-blue: #154580;
$footer-blue: #04244f;
$pink: #c98cf1;
$purple: #7b78e5;
$light-grey: #9d9d9d;
$tag-color: rgba(148, 163, 184, 0.3);
