@import-normalize;
@import "./variables";
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient($dark-blue, $light-blue);
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(#041833, #154580);
}
body::-webkit-scrollbar-thumb {
  background-color: #154580;
  border-radius: 20px;
}
@font-face {
  font-family: "GandhiSansRegular";
  src: local("GandhiSansRegular"),
    url("../assets/fonts/GandhiSans-Regular.otf") format("truetype");
  font-weight: 500;
  display: swap;
}

@font-face {
  font-family: "GandhiSansBold";
  src: local("GandhiSansBold"),
    url("../assets/fonts/GandhiSans-Bold.otf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
