@import "./variables";
main {
  margin: 0 24px;
}

.principal {
  display: flex;
  justify-content: space-between;

  &__image {
    width: 100%;
    img {
      height: 400px;
      width: 100%;
      border-radius: 10px;
    }

    position: relative;

    h1 {
      position: absolute;
      z-index: 1;
      color: $text-color;
      font-size: 2.5rem;
      font-family: "GandhiSansBold";
      top: 75px;
      left: 44px;
    }
    h2 {
      position: absolute;
      color: $text-color;
      font-size: 2rem;
      font-family: "GandhiSansBold";
      top: 150px;
      left: 44px;
      display: flex;
    }
  }
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 17%;
  margin-top: 1rem;
}
