@import "../../styles/variables";

.footer {
  background-color: $footer-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0px -2px 30px rgba($color: #000000, $alpha: 0.5);
  box-sizing: border-box;

  &__icons {
    width: 10%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    cursor: pointer;
  }

  p {
    margin: 0;
    color: $text-color;
    font-family: $font-normal;
  }
}
